name: CI/CD Pipeline

on:
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/app:${{ github.sha }} 
          ${{ secrets.DOCKERHUB_USERNAME }}/app:latest            
          ${{ secrets.DOCKERHUB_USERNAME }}/app:${{ github.ref_name }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Create kubeconfig file
      run: |
        echo "${{ secrets.KUBECONFIG1 }}" > kubeconfig
        echo "${{ secrets.KUBECONFIG2 }}" >> kubeconfig
        echo "${{ secrets.KUBECONFIG3 }}" >> kubeconfig
        echo "${{ secrets.KUBECONFIG4 }}" >> kubeconfig

    - name: Deploy to Kubernetes
      env:
        KUBECONFIG: ${{ github.workspace }}/kubeconfig
      run: |
        kubectl set image deployment/nginx-deployment nginx=${{ secrets.DOCKERHUB_USERNAME }}/app-nginx:${{ github.ref_name }} --insecure-skip-tls-verify
